import React from 'react';
import _ from 'lodash';
import { Link } from 'react-router';

class <%- name %> extends React.Component {
  constructor(props) {
    super(props);
    <% if (stateful) { %>
    this.state = {

    }<% } %>
  }
  <% if (stateful) { -%>

  componentDidMount() {
    //this.unsubscribe = SomeStore.listen(this.onStatusChange.bind(this));
  }

  componentWillUnmount() {
    //this.unsubscribe();
  }

  onStatusChange(state) {
    this.setState(state);
  }
  <% } -%>

  render() {
    return (
        <div></div>
    );
  }
}

<%- name %>.propTypes = {
<% props.forEach(function(prop, i, a){ -%>
<%- prop.name %>: <%- prop.type %><%- i+1 < a.length ? "," : ""%>
<% }); -%>

};

export default <%- name %>;